.cardapio-container {
    display: flex;
    background-color: rgb(48, 48, 48);
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#title-cardapio-rancho {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px;
    color: #C5A37F;
    margin-bottom: 30px;
}
.pages {
    background-color: #C5A37F;

}

#inicial{
    height: 700px;
    background-color: #C5A37F;
}

#pag2{
    height: 700px;
}
#pag3{
    height: 700px;
}
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C5A37F;
    width: 100px;
    transform: rotateX(0deg);
}
.page:hover {
    transform: rotateX(360deg);
}



  