.localizacao-container{
  background-color: #f7bc79d2;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
  width: auto;
  float: none;
  left: 0;
  max-width: 100%;
}

