@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    background-color: #f1c46b5e;
    border-radius: 4px;
}

nav{
    width: 57%;
}
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#logo{
    max-width: 230px;
    max-height: 100px;
    margin-left: 20px;
    margin-right: 40px;
}

#carreta {
    max-height: 75px;
    max-width: 100px;
}

.init {
    display: flex;
    column-gap: 50px;
}

li {
    color: #000;
    transition: scale 0.2s ease;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
li:hover {
    scale: 1.02;
    opacity: 98%;
    color: #3d1e00;
    border-bottom: 1px solid #3d1e00; /* Underline effect */
}



