@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

header{
    height: 80px;
    display: flex;
    align-items: center;
    margin: 10px 0 5px;
}

nav{
    width: 100%;
}

ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 230px;
    height: auto;
    margin-left: 20px;
}

a {
    color: #000;
    transition: scale 0.5s ease;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
a:hover {
    scale: 1.02;
}



