.roda-container {
    position: relative;
    height: 700px;
    background-color: blueviolet;
  }
  
  img {
    height: 100%;
    width: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: blueviolet;
    z-index: -1;
  }
  