.square-container {
    background-color: #f1c46b83;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
}

.squares {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.square {
    position: relative;
    margin: 20px;
    height: 365px;
    width: 365px;
    overflow: hidden;
    background-color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.square a {
    display: block;
    height: 100%;
    transition: scale 0.5s ease;
}

.square a:hover {
    scale: 1.02;
    opacity: 98%;

}

.square img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.frase-chama {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #4e2801;
    font-family: 'Montserrat', sans-serif;
}
