
.trailer-container{
    background-color: #613301d2;   
}

#previa{
    width: 40%;
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', 'Montserrat Fallback';
}

.trailer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#titulo-rancho{
    margin-top: 20px;
}

.video-promocional{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin-bottom: 70px;
    margin-top: 50px;
}
#roda-carreta{
    height: 200px;
}
#roda-invertida{
    height: 150px;
}
