.contact-container {
    background-color: #f7bc79d2;
    height: 100vh;
}
.contact-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#rancho-fino {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.Fino-e-Rancho {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}