
.trailer-container{
    background-color: #f7bc79d2;   
    height: 100vh; 
}

#previa{
    width: 40%;
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', 'Montserrat Fallback';
}

.trailer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#titulo-rancho{
    margin-top: 20px;
}
.video-promocional{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 5px solid #874b0f;
    margin-top: 20px;
}
#roda-carreta{
    height: 200px;
}
#roda-invertida{
    height: 150px;
}
